@import url("styles/header.css");
@import url("styles/main.css");
@import url("styles/footer.css");
@import url("styles/navbar.css");
@import url("styles/first-section.css");
@import url("styles/second-section.css");
@import url("styles/third-section.css");

* {
    margin: 0;
    padding: 0;
}

:root {
    --button-mobile: #9b9b9b;
    --bg-light-gray: #eaebec;
    --bg-dark-gray:#d8d8d8;
    --text: #4a4a4a;
    --blue: #37b7ee;
}

/* 
section titles #4a4a4a
text: #a0a0a0; tb no COLMAR
gray bg: #d8d8d8;
lighter gray bg: #eaebec;
mobile bg btn: #9b9b9b; tb no ACADEMY
blue link: #5798e4;
subtitles: #6c6c6c;
*/

body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: var(--text);
}