@import url("styles/header.css");
@import url("styles/main.css");
@import url("styles/footer.css");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: gray;
}