.section__options--image {
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    border: none;
}

.orientation-date {
    background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/information-orientation-mobile.jpg");
}

.campus-image {
    background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/information-campus-mobile.jpg");
}

.lecture-image {
    background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/information-guest-lecture-mobile.jpg");
}

.section__options--content {
    margin: 16px 16px 64px 16px;
}

.section__options--text,
.section__options--title {
    margin-bottom: 6px;
}

.section__options--text {
    font-size: small;
}

.section__options--link {
    text-decoration: none;
    color: var(--blue);
}

@media screen and (min-width: 800px) {
    .section__options--image {
        width: 35%;
        height: 150px;
    }

    .section__options--container {
        display: flex;
        padding: 16px;
        gap: 16px;
    }

    .section__options--container:hover {
        background-color: lightgray;
    }

    .section__options--content {
        margin: auto;
        width: 65%;
        font-size: larger;
    }

    .section__options--text{
        margin-bottom: 8px;
        font-size: 20px;
    }
}

/* <div class="section__options--container">
                    <img class="section__options--image lecture-image" alt="">
                    <div class="section__options--content">
                        <h4 class="section__options--title">Our guest lecture</h4>
                        <p class="section__options--text">Join a keynote with Oliver Sack about music in medical
                            treatment</p>
                        <a class="section__options--link" href="#">Read more</a>
                    </div>
                </div>
                 */