/* Mobile-First */
.header__hero {
    background-color: var(--bg-dark-gray);
    display: flex;
    flex-direction: column;
}

.header__hero--banner {
    width: 100vw;
}

.header__hero--title {
    padding: 32px 16px;
}

.header__hero--text {
    padding: 0 16px 24px;
}

.header__hero--button {
    background-color: var(--button-mobile);
    padding: 15px;
    margin: 0 16px 32px;
    border: none;
    color: white;
    font-weight: bold;
}