/* Mobile */
.header__hero {
    background-color: var(--bg-dark-gray);
    display: flex;
    flex-direction: column;
}

.header__hero--banner {
    width: 100vw;
}

.header__hero--title {
    padding: 2rem 1rem;
    font-size: 2rem;
    line-height: 2.8rem;
}

.header__hero--text {
    padding: 0 1rem 1.5rem;
    font-size: 1.3rem;
    line-height: 1.9rem;
}

.header__hero--title,
.header__hero--text {
    color: var(--main-titles);
}

.header__hero--button {
    background-color: var(--button-mobile);
    padding: 1rem;
    margin: 0 1rem 2rem;
    border: none;
    color: white;
    font-size: 1.3rem;
}

.header__hero--button:hover {
    cursor: pointer;
}

/* Desktop */
@media screen and (min-width: 800px) {
    .header__hero {
        display: grid;
        grid-template-areas:
            "image title"
            "image texto"
            "image button";
        padding: 2rem 1.5rem;
        grid-template-columns: 60% 40%;
        grid-template-rows: 3fr 1fr 3fr;
        gap: 0;
        row-gap: 1rem;
    }

    .header__hero--banner {
        grid-area: image;
        width: 100%;
    }

    .header__hero--title {
        grid-area: title;
        padding: 0 3.75rem 0 1.5rem;
        align-self: self-end;
        font-size: 2.5rem;
    }

    .header__hero--text {
        grid-area: texto;
        padding: 0 3.75rem 0 1.5rem;
        font-size: 1.2rem;
    }

    .header__hero--button {
        grid-area: button;
        align-self: self-start;
        margin: 0 4rem 0 1.5rem;
        font-size: 1.2rem;
        background-color: var(--main-titles);
        font-weight: 600;
        padding: .5rem auto;
    }

    .header__hero--button:hover {
        background-color: var(--links);
    }
}