/* Mobile */
.navbar {
    height: 4rem;
    width: 100vw;
    background-color: white;
}

.navbar__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: .6rem;
}

.navbar__list--link {
    display: none;
}

.navbar__list--icon {
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar__list--icon:hover {
    cursor: pointer;
}

.logo {
    background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/ic-logo.svg");
}

.courses {
    background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/ic-on-campus.svg");
}

.online {
    background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/ic-online.svg");
}

.sign-in {
    background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/ic-login.svg");
}

.companies,
.companies-icon {
    display: none;
}

/* Desktop */
@media screen and (min-width: 800px) {

    .navbar {
        margin: auto 1.5rem;
        width: auto;
    }

    .navbar__list {
        justify-content: flex-end;
        gap: 1rem;
        padding: 1.5rem;
    }

    .navbar__list a:hover {
        cursor: pointer;
    }

    .navbar__list--item:first-child {
        position: absolute;
        left: 1.5rem;
        top: 1rem;
        height: 2.1rem;
    }

    .navbar__list--item {
        display: flex;
        align-content: center;
        align-items: center;
    }

    .navbar__list--icon {
        display: none;
    }

    .navbar__list--link,
    .logo {
        display: block;
    }

    .logo-text {
        color: var(--button-mobile);
        font-weight: 100;
    }

    .navbar__list--link,
    .navbar__logo--text-bold {
        color: var(--main-titles);
    }

    .navbar__logo--text-bold {
        font-weight: 900;
    }

}