/* Mobile-First */
.navbar {
    height: 64px;
    width: 100vw;
}

.navbar__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.navbar__list--link {
    display: none;
}

.navbar__list--icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar__list--icon:hover {
    cursor: pointer;
}

.logo {
    background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/ic-logo.svg");
}

.courses {
    background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/ic-on-campus.svg");
}

.online {
    background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/ic-online.svg");
}

.sign-in {
    background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/ic-login.svg");
}

.companies,
.companies-icon {
    display: none;
}

/* DESKTOP */
@media screen and (min-width: 800px) {

    .navbar {
        margin: auto 24px;
    }

    .navbar__list {
        justify-content: flex-end;
        gap: 16px;
        padding:  24px;
    }

    .navbar__list--item:first-child {
        position: absolute;
        left: 24px;
        top: 16px;
        height: 34px;
    }

    .navbar__list--item {
        display: flex;
        align-content: center;
        align-items: center;
    }

    .navbar__list--link {
        display: block;
    }

    .navbar__list--icon {
        display: none;
    }

    .logo {
        display: block;
    }

    .logo-text {
        font-weight: 100;
    }

    .navbar__logo--text-bold {
        font-weight: bold;
    }

}