.second-section {
    border-bottom: 1px solid var(--bg-light-gray);
    border-top: 1px solid var(--bg-light-gray);
    padding: 32px 0;
}

.section__courses--container {
    background-color: var(--bg-dark-gray);
    padding: 16px 16px 24px 16px;
    margin-bottom: 8px;
}

.courses__container--image,
.courses__container--subtitle,
.courses__container--text {
    display: none;
}