.second-section {
    border-bottom: 1px solid var(--bg-light-gray);
    border-top: 1px solid var(--bg-light-gray);
    padding: 2rem 0;
}

.second-section__container--course {
    background-color: var(--bg-dark-gray);
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: .5rem;
}

.second-section__container--course:hover {
    cursor: pointer;
}

.container__course--image,
.container__course--subtitle,
.container__course--text {
    display: none;
}

@media screen and (min-width:800px) {
    .second-section {
        flex-direction: column;
        margin: 0 auto;
        border: none;
        background-color: var(--bg-gray);
        padding: 4.5rem;
    }

    .container__course--image,
    .container__course--subtitle,
    .container__course--text {
        display: block;
    }

    .second-section__container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .second-section__container--course {
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 0;
        flex: 1 1 calc((100% - 4rem) / 3);
        margin: 0;
    }

    .container__course--title {
        padding: 1rem;
        color: var(--main-titles);
        font-size: 1.4rem;
    }

    .container__course--subtitle {
        padding: 0 1rem 1rem;
    }

    .container__course--text {
        padding: 0 5rem 1.5rem 1rem;
        line-height: 1.5rem;
    }


    /* images */
    .container__course--image {
        background-size: cover;
        height: 12.5rem;
        border: none;
    }

    .software {
        background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/course-software.jpg");
    }

    .computer-art {
        background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/course-computer-art.jpg");
    }

    .design {
        background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/course-design.jpg");
    }

    .data {
        background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/course-data.jpg");
    }

    .business {
        background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/course-business.jpg");
    }

    .marketing {
        background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/course-marketing.jpg");
    }

    .engineering {
        display: none;
    }
}