/* Mobile */
.third-section__content--video {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.third-section {
    margin: 2rem 0;
}

.third-section__options,
.third-section__content--title,
.third-section__content--text {
    display: none;
}

/* Desktop */
@media screen and (min-width:800px) {


    .third-section {
        padding-top: 4rem;
    }

    .third-section__options,
    .third-section__content--title,
    .third-section__content--text {
        display: block;
    }

    .third-section__container {
        display: flex;
        margin: 1rem .5rem 2rem 1.5rem;
        gap: 1.5rem;
    }

    .third-section__content--text,
    .third-section__content--title,
    .third-section__options--title {
        color: var(--main-titles);
    }

    .third-section__content {
        width: 60%;
    }

    .third-section__options {
        width: 40%;
    }

    .third-section__content--video {
        height: auto;
    }

    .third-section__content--title {
        font-size: 1.1rem;
        margin: 1.5rem 0 .5rem 0;
    }

    .third-section__content--text {
        line-height: 1.5rem;
    }

    .third-section__options--container {
        padding: 1rem 0 1rem 5%;
        display: flex;
    }
    
    .third-section__options--container:hover {
        background-color: var(--bg-dark-gray);
        cursor: pointer;
    }

    .third-section__options--image {
        width: 35%;
        aspect-ratio: 1 / 1;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .third-section__options--content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-left: 1rem;
        width: 65%;
        justify-content: center;
    }

    .third-section__options--title,
    .third-section__options--text {
        width: 80%;
    }

    .third-section__options--title {
        font-size: 1.2rem;
    }
    
    .third-section__options--text {
        font-size: 1rem;
    }

    .fisma {
        background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/thesis-fisma.jpg");
    }

    .now {
        background-image: url("/Users/debora/Documents/School/Codecademy/projects/colmar-academy/assets/images/thesis-now-and-then.jpg");
    }
}